@{
    ViewData["Title"] = "Home Page";
}

<a href="@Url.Action("Index", "Login")" class="btn btn-outline-primary">Ir a test</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
