<h1>Iniciar Sesión</h1>

<p>Usuario</p>
<input type="text" placeholder="Ingrese el usuario"/>

<br />
<br />
<p>Contraseña</p>
<input type="password" placeholder="Ingrese la contraseña" />

<br />
<a href="@Url.Action("Privacy", "Home")" class="btn btn-primary">Ingresar ahora</a>